button {
  height:50px;
  width: 98%;
}

.details-options {
  margin: auto;
  margin-left: 2%;
  margin-top: 5%;
  position: fixed;
  color: white;
}

.edit-input {
  width: 65%;
  height: 50px;

}

.edit-instructions {
  font-size: 12px;
}

h1 {
  text-align:center;
}

.list-table { 
  text-align: center;
  overflow-y: scroll;
  table-layout: fixed;
  width: 100%;
  min-width: 500px;
}

.list-header {
  margin: auto;
  width: 100%;
  table-layout: fixed;
}

.loading {
  margin: 0;
  margin-top: 12%;
  text-align: center;
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

.robot-details {
    margin-left: 20%;
    margin-right: auto;
    width: 75%;
}

.save-button {
  width: 15%;
  height: 57px;
}

.screen {
  margin: auto;
  border: 3px solid;
  height: 600px;
  width: 55%;
  min-width: 500px;
  overflow: auto;
}

.screen-header {
  border: 3px solid;
  border-bottom: 0;
  margin:auto;
  border-bottom:;
  width: 55%;
  min-width: 500px;
  overflow: auto;
}

.sidebar {
  margin: auto;
  top: 0;
  height: 100vh;
  width: 15%;
  background-color: gray;
  position: absolute;
  min-width: 150px;
  color: white;
}

.sidebar-container {
  margin-left: 2%;
}

tr:hover {
  text-decoration: underline;
}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
